.header-layout{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  right: 0;
  left: 0;
}

body.modal-open .header-layout {
  padding-right: var(--bs-scrollbar-width, 17px);
}

.bg-gray {
  background-color: #363547;
}

.menu-user-decor,
.menu-txt-decor {
  font-size: 2.5vh;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  color: #FFFFFF !important;
}

.menu-user-decor {
  font-weight: bold;
}

.menu-box {
  display: flex;
}

.menu-items {
  justify-content: space-around;
}


.logo-box {
  display: flex;
  align-items: end;
}

.logo-fonte{
  padding-bottom: 5px;
}


/* ANIMANDO OS ITEMS DO MENU */
.animated-title {
  position: relative;
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
}

.animated-title:hover {
  transform: translateY(-2px);
}

/* Linha roxa inicial */
.animated-title {
  position: relative;
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
}

.animated-title::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 7px;
  width: 0;
  height: 2px;
  background-color: #7758D1;
  transition: width 0.3s ease-in-out;
}

.animated-title:hover::after {
  width: 100%;
}

.active-item {
  transform: translateY(-2px);
}

.active-item::after {
  width: 100%;
}

.expanded-menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.expanded-menu.expanded {
  max-height: 200px;
  color: white;
}

.menu-mb-text {
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-top: solid #1F1E2B 1px;
}

.menu-mb-text:hover,
.atual {
  background-color: #1F1E2B;
}

@media screen and (max-width: 990px) {
  .user-area {
    display: none;
  }

  .menu-icon {
    width: 35px;
    height: 4px;
    background-color: white;
    margin: 6px 0;
  }
}