// // SheetsContainer
.sheets-container{
    background-color: $secondary-green;
    padding-bottom: 0.6rem;
    height: auto;
    overflow: hidden;
    border-radius: 1rem;
}
.nav-sheets-container{
    background-color: #363547;
    font-weight: 700;
}

:global(.nav-tabs.nav-tabs-sheets) {
  border-bottom: none;
}

:global(.nav-tabs.nav-tabs-sheets .btn-tab) {
  color: #D1CFF4;
  border: none;
  background-color: #363547;
  height: 6vh;
}

:global(.nav-tabs.nav-tabs-sheets .btn-tab.active),
:global(.nav-tabs.nav-tabs-sheets .nav-link.active) {
  background-color: $secondary-green;
  color: white;
  cursor: default;
  border-bottom: none;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  position: relative;
}

.nav-tabs-sheets{
    border-bottom: none;
}
.div-text-sheets{
    background-color: #418181;
    margin: 4% 0 4% 0;
    border-radius: 2rem;
    color: #9EC5D1;
}

a {
  text-decoration: none;
}

// // Sheets
.sheets-group{
  .sheets{
    background-color: #363547;
    border-radius: 5px;
    border: 0;
    color: white;
    margin: 0 1rem;
    height: 60px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 10px;
    display: flex;
    text-decoration: none;

    .sheetName{
      margin-left: 20px;
      display: flex;
      align-items: center;
      font-size: 18px;
      font-weight: 430;
    }

    .sheetSystem{
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      font-size: 10px;
      color: #c8c3d7;
      margin-left: auto;
      margin-bottom: 5px;
      font-weight: 500;
    }

    .sheetAsset{
      width: 60px;
      height: 60px;
      background-color: #1f1e2b;
      display: flex;
      align-items: center;
      justify-content: center;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;

      img{
        max-width: 90%;
        max-height: 90%;
        display: block;
        object-fit: cover;
      }
    }
  }
  .sheets:hover{
    background-color: #2d2c3a;
    transition-duration: 0.45s;
    cursor: pointer;
  }
}