/* GAME CONTENT */
.game-container{
    background-color: $bg-dark-primary;
    border-radius: 16px;
    margin: 5vh 0;
}
.header-games{
    padding: 22px 16px 20px 8px;
    display: flex;
    justify-content: space-between;
}
.header-games h2{
    width: auto;
}
.search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.14rem solid $primary-green;
    border-radius: 2rem;
    background-color: transparent;
    padding: 0 20px;

    input{
        border: 0;
        background: none;
        padding: 10px 0;
        width: 100%;
        color: white;
        margin-right: 1rem;
    }
    input::placeholder{
        color: #638b86e2;
        font-weight: 500;
    }
    input:focus{
        border: 0;
        border-color: none;
        background-color: 0;
        outline: none;
    }

    input[type="search"]::-webkit-search-cancel-button {
        -webkit-appearance: none;
        appearance: none;
        display: none;
    }

    input[type="search"]::-moz-search-clear {
        display: none;
    }
}


.btn-more{
    margin: 2rem 0;
    font-weight: 700;
    border: 0;
    border-radius: 50px;
    background-color: $primary-green;
    color: $bg-dark-primary;
    height: 50px;
}
.btn-more:hover{
    transition-duration: 0.45s;
    background-color: #a38fd3;
}


/* ASIDE */
.aside{
    display: flex;
    flex-direction: column;
    margin: 5vh 0;
    gap: 20px;
    padding: 0;
}
.btn-aside{
    display: flex;
    background-color: #7758D1;
    color: white;
    border-radius: 50px;
    border: 2px solid #7758D1;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}
.btn-aside img{
    height: 25px;
}
.btn-aside:hover{
    transition-duration: 0.35s;
    background: linear-gradient(to right, #7758D1, #56469c);
    border: 2px solid #b7a4ef;
}
.btn-aside:not(:hover){
    transition-duration: 0.35s;
    display: flex;
    background-color: #7758D1;
    color: white;
    border-radius: 50px;
    border: 2px solid #7758D1;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}


/* MEDIA QUERY */
@media screen and (max-width: 1400px) {
    .card-body{
        height: 7vh;
    }
}

@media screen and (max-width: 1199px) {
    .card-title{
        font-size: 2.4vh;
    }
    .card-body{
        height: 6.3vh;
    }
}


@media screen and (max-width: 990px) {
    .section-row{
        flex-direction: column;
        gap: 0;
    }
    .aside{
        width: auto;
        margin: 0;
    }
    .btn-div{
        margin: 0;
    }
    .game-container{
        width: auto;
    }
    .sheets-container{
        overflow: visible;
        margin-bottom: 10vh;
        
    }
}

@media screen and (max-width: 730px) {
    .card-body{
        height: 6vh;
    }
}

@media screen and (max-width: 575px){
    .aside{
        gap: 25px;
    }
    .game-container{
        border-radius: 0;
        margin-top: 1px;
    }
    .game-box{
        width: auto;
        border-radius: 15px;
    }
    .nav-sheets-container{
        border-radius: 0;
    }
    .header-games{ 
        height: auto;
        justify-content: center;
        padding: 15px 0 0 0; 
    }
    .search{
        display: none;
    }
    .sheets-container{
        border-radius: 0;
    }
    .card-title{
        font-size: 2.5vh;
    }
    .nav-tabs, .btn-tab.active{
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        height: 9vh;
    }
    .card-body{
        display: flex;
        height: 7.5vh;
        padding: 0;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 530px){
    .card-title{
        font-size: 2.2vh;
    }
    .card-body{
        height: 6.6vh;
    }
}

@media screen and (max-width: 425px){
    .card-title{
        font-size: 1.8vh;
    }
    .card-body{
        height: 6.2vh;
    }
}

@media screen and (max-width: 371px){
    .card-title{
        font-size: 1.5vh;
    }
    .card-body{
        height: 5vh;
    }
}

@media screen and (max-width: 320px){
    .card-title{
        font-size: 1.35vh;
    }
    .card-body{
        height: 4.8vh;
    }
}

@media screen and (max-width: 306px){
    .card-title{
        font-size: 1.2vh;
    }
    .card-body{
        height: 5vh;
    }
}