// classes personalizadas --------

// inputs --
.ipt-primary{
  background: hsl(243, 17%, 21%) !important;
  input, select{
    background: hsl(243, 17%, 21%) !important;
    color: white;
  }
  input::placeholder, select::placeholder{
    color: #6b6b76 !important;
  }
}
.ipt-second{
  background: #49485b !important;
  input, select{
    color: white;
    box-shadow: none;
    outline: none;
  }
  select{
    color: white !important;
  }
  input::placeholder{
    color: #9999a8 !important;
  }
  select:focus{
    background: #403e4f !important;
    box-shadow: none;
  }
  &:focus-within{
    outline: 0.15rem solid #282731;
    background: #403e4f !important;
  }
}


// fonte --
.fs-responsive {
  font-size: 1.2rem;

  @media (min-width: 768px) {
    font-size: 1.1rem;
  }

  @media (min-width: 1200px) {
    font-size: 1rem;
  }
}
