@import url("https://fonts.googleapis.com/css2?family=Freeman&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Freeman&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jura:wght@300..700&display=swap");

$primary: #4a90e2;


$background-color: #1f1e2b; 
$bg-dark-primary: #363547;

$primary-purple: #7758D1;
$secondary-purple: #5a507d;

$primary-green: #61D9BA;
$secondary-green: #529692;

$font-inter: 'Inter', sans-serif;
