* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html,
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  background-color: $background-color;
  color: white;
  font-family: $font-inter;
}

.content {
  flex: 1;
}

.fs-responsive {
  font-size: 1.2rem;

  @media (min-width: 768px) {
    font-size: 1.1rem;
  }

  @media (min-width: 1200px) {
    font-size: 1rem;
  }
}
