.modalGame{
  background-color: $bg-dark-primary !important;
  color: white !important;

  :global(.modal-header) {
    border-bottom: 1px solid #292934;
  }

  :global(.modal-footer) {
    border-top: 1px solid #292934; 
  }
}