.card{
  background: none;
  padding: 0;
  overflow: hidden;
  border-radius: 13px;
  .imgBox{
    min-height: 19vh;
    max-height: 19vh;
    overflow: hidden;
    // background: linear-gradient(217deg, #6a43df, rgba(255,0,0,0) 70%),
    //             linear-gradient(127deg, #49eec5, rgba(55,200,200,0) 70%),
    //             linear-gradient(336deg, rgba(255, 84, 144, 0.869), rgba(0,0,255,0) 70%);
  }
  .cardBody{
    display: flex;
    // background: linear-gradient(to right, #6346BA, #365F68);
    background:  linear-gradient(to right, #3c3b506e, #4b4a62 70%);
    color: white;
    padding: 10px 15px;
  }
}

.card:hover{
  cursor: pointer;
  transform: scale(1.03);
  transition-duration: 0.25s;
}