.userArea {
  display: flex;
  justify-content: end;
  align-items: center;
}

.userBox{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  background: linear-gradient(45deg, rgb(102, 219, 194), #7758D1);
  flex-shrink: 0;

  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}