.user-area {
  display: flex;
  justify-content: end;
  align-items: center;
}

.user-box{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  border-radius: 50%;
  overflow: hidden;
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  background: linear-gradient(45deg, rgb(102, 219, 194), #7758D1);
  flex-shrink: 0;

  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}