.div{
  display: flex;
  flex-direction: column;
}
.label {
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.input {
  margin-top: 0.25rem;
  padding: 0.75rem;
  border: none;
  border-radius: 5px;
  background: #2E2D3F;
  color: white;
}