.div{
  display: flex;
  flex-direction: column;
}
.label {
  // margin-top: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.input {
  width: 100%;
  height: 3rem;
  margin-top: 0.25rem;
  padding-left: 1rem;
  border: none !important;
  border-radius: 5px;
  font-size: 1rem;
  // box-sizing: border-box;
}

.erro {
  border: red;
}