.div{
  display: flex;
  flex-direction: column;
}
.label {
  // margin-top: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.input {
  display: flex;
  align-items: center;
  height: 3rem;
  margin-top: 0.25rem;
  border-radius: 5px;
  font-size: 1rem;
  padding-right: 1rem;

  input, select{
    background: none;
    border: none !important;
    padding: 0 1rem;
    border-radius: 5px;
    height: 100%;
    width: 100%;
  }
}