.main {
  height: 100vh;
  background: linear-gradient(to bottom right, #5D26C1 0%, #A17FE0 50%, #61D9BA 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.box {
  display: flex;
  width: 60vw;
  max-width: 1000px;
  height: 80vh;
  border-radius: 15px;
  flex-direction: row;
  // overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.leftSide {
  flex: 1;
  background-color: #e8e4d6;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;

  .loginArt {
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
  }
}

.rightSide {
  flex: 1;
  background-color: #23222F;
  padding-left: 3rem;
  padding-right: 3rem;
  // padding: 3rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  
  .h1 {
    text-align: center;
    // margin-bottom: 2rem;
    font-weight: 600;
  }

  .iconContainer {
    display: flex;
    // justify-content: center;
    position: absolute;
    top: -1.85rem;
    left: 50%;
    transform: translateX(-50%);
    // z-index: 10;

    // img{
    //   width: 4.2rem;
    //   height: 4.2rem;
    // }
  }

  .form {
    display: flex;
    flex-direction: column;

    .forgot {
      margin-top: 0.5rem;
      text-align: right;

      .a {
        font-size: 1.0rem;
        color: #787596;
        // color: #bbb;
        text-decoration: none;
      }
    }

    .loginButton {
      margin-top: 1.5rem;
      padding: 0.60rem;
      background: linear-gradient(to right, #B667F1, #715BFC);
      border: none;
      border-radius: 25px;
      color: white;
      font-weight: bold;
      cursor: pointer;
      font-size: 1.35rem;
    }

    .divider {
      margin: 1.0rem auto;
      text-align: center;
      font-size: 0.95rem;
      color: #787596;
    }

    .p {
      text-align: center;
      font-size: 1.0rem;
      color: #787596;
      strong {
        color: white;
      }
    }
  }
}